body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(247, 146, 146));
}

/* #cv-form{
    display: none;
} */

#cv-template{
    display: none;
    background-color: white;

}

.myimg{
    border-radius: 50%;
    width: 200px;
}

.background
{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(247, 146, 146));
}

